.lateralMenu_container{
  position: fixed;
  z-index: 2;
  background-color: #222;
  height: 100%;
}

.lateralMenu_item,
.lateralMenu_logo{
  display: block;
  padding: 20px;
  margin-top: 15px;
  color: #fff;
  font-size: 1.85rem;
}

.lateralMenu_logo  {    
  margin-bottom: 30px;
  border-top: 2px solid #6FCF97;
  border-bottom: 2px solid #6FCF97;
}



.lateralMenu_item:hover {
  background-color: #6FCF97;  
  cursor: pointer;
  transition: .3s;
}


/* responsive */
@media screen and (max-width: 400px) {
  .lateralMenu_item,{
    padding: 13px;    
  }   
}