.lateralMenu_container{
  position: fixed;
  z-index: 2;
  background-color: #222;
  height: 100%;
}

.lateralMenu_item,
.lateralMenu_logo{
  display: block;
  padding: 20px;
  margin-top: 15px;
  color: #fff;
  font-size: 1.85rem;
}

.lateralMenu_item:hover {
  background-color: #fff;
  color: #6FCF97;
  cursor: pointer;
  transition: .3s;
}

.lateralMenu_logo  {
  background-color: #6FCF97;
}

/* responsive */
@media screen and (max-width: 400px) {
  .lateralMenu_item{
    padding: 13px;    
  }   
}