.emptyMessage {
  min-height: 70vh;
  position: relative;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyMessage_center 
{
  max-width: 400px;
  font-size: 2.5rem;
  color: #f2f2f2;
  text-align: center;
}